<button type="button" class="btn btn-primary" (click)="displayContent()">
  Display Details
</button>
<p *ngIf="contentVisible">What's going on, here?</p>
<!-- using incrementing number -->
<!-- <div
  *ngFor="let count of clickCounts"
  [ngStyle]="{ backgroundColor: count >= 5 ? 'blue' : 'transparent' }"
  [ngClass]="{ 'white-text': count >= 5 }"
>
  {{ count }}
</div> -->
<!-- using timestamp -->
<div
  *ngFor="let count of clickCounts; let i = index"
  [ngStyle]="{ backgroundColor: i >= 4 ? 'blue' : 'transparent' }"
  [ngClass]="{ 'white-text': i >= 4 }"
>
  {{ count }}
</div>
